@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

:root {
  color-scheme: dark;
  font-family: var(--font-sans);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-normal);
}

body {
  font-family: var(--font-sans);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-normal);
}
